In [12]:
import ast
data = ast.literal_eval(body)
stations = pd.DataFrame(data['data']['stations'])

In [13]:
stations

,eightd_active_station_services,eightd_has_available_keys,is_installed,is_renting,is_returning,last_reported,num_bikes_available,num_bikes_disabled,num_docks_available,num_docks_disabled,num_ebikes_available,station_id
0,NaN,False,1,1,1,1523065043,15,0,24,0,0,72
1,NaN,False,1,1,1,1523063844,17,2,14,0,0,79
2,NaN,False,1,1,1,1523060972,21,2,4,0,0,82
3,NaN,False,1,1,1,1523064832,14,2,46,0,0,83
4,NaN,False,1,1,1,1523060329,9,0,10,0,0,119
5,NaN,False,1,1,1,1523062039,15,0,4,0,0,120
6,NaN,False,1,1,1,1523064771,31,0,0,0,0,127
7,NaN,False,1,1,1,1523065424,5,3,22,0,0,128
8,NaN,False,1,1,1,1523062029,13,0,11,0,0,143
9,NaN,False,1,1,1,1523064100,11,1,7,0,0,144
10,NaN,False,1,1,1,1523065423,27,1,11,0,0,146
11,NaN,False,1,1,1,1523065382,29,0,2,0,0,150
12,NaN,True,1,1,1,1523065347,4,0,29,0,0,151
13,NaN,False,1,1,1,1523065277,1,0,28,0,0,152
14,NaN,False,1,1,1,1523061211,22,1,0,0,0,157
15,NaN,False,1,1,1,1523065328,29,1,5,0,0,161
16,NaN,False,1,1,1,1523063307,0,0,47,0,0,164
17,NaN,False,1,1,1,1523064681,2,0,43,0,0,167
18,NaN,False,1,1,1,1523064419,4,3,40,0,0,168
19,NaN,False,1,1,1,1523065416,2,2,47,0,0,173
20,NaN,False,1,1,1,1523065423,9,2,19,0,0,174
21,NaN,False,1,1,1,1523063204,1,0,44,0,0,195
22,NaN,False,1,1,1,1523064046,2,1,25,0,0,212
23,NaN,False,1,1,1,1523057428,14,1,8,0,0,216
24,NaN,True,1,1,1,1523064068,18,0,21,0,0,217
25,NaN,False,1,1,1,1523062517,0,0,55,0,0,228
26,NaN,False,1,1,1,1523065274,2,1,20,0,0,229
27,NaN,True,1,1,1,1523059595,3,1,19,0,0,232
28,NaN,False,1,1,1,1523064943,19,4,16,0,0,236
29,NaN,False,1,1,1,1523065411,25,2,12,0,0,237
...,...,...,...,...,...,...,...,...,...,...,...,...
783,NaN,False,0,0,0,0,0,0,0,0,0,3630
784,NaN,False,1,1,1,1523064709,27,0,0,0,0,3631
785,NaN,False,1,1,1,1523064637,22,1,10,0,0,3632
786,NaN,False,1,1,1,1523062968,8,0,33,0,0,3635
787,NaN,False,1,1,1,1523060830,8,1,22,0,0,3637
788,NaN,False,1,1,1,1523063614,2,0,16,0,0,3638
789,NaN,False,1,1,1,1523055577,1,0,29,0,0,3639
790,NaN,False,1,1,1,1523062626,0,0,18,0,0,3640
791,NaN,False,1,1,1,1523065228,2,1,51,0,0,3641
792,NaN,False,1,1,1,1523060185,0,0,55,0,0,3643
793,NaN,False,1,1,1,1523054986,24,0,0,0,0,3644
794,NaN,False,1,1,1,1523060489,2,1,23,0,0,3646
795,NaN,False,1,1,1,1523050825,3,0,20,0,0,3647
796,NaN,False,1,1,1,1523058708,5,0,20,0,0,3648
797,NaN,False,1,1,1,1523064259,4,0,26,0,0,3649
798,NaN,False,1,1,1,1523065191,4,0,15,0,0,3653
799,NaN,False,1,1,1,1523064935,1,0,34,0,0,3654
800,NaN,False,1,1,1,1523063736,30,1,0,0,0,3656
801,NaN,False,1,1,1,1523064524,3,0,24,0,0,3658
802,NaN,False,1,1,1,1523065404,3,2,20,0,0,3659
803,NaN,False,1,1,1,1523065292,6,1,31,1,0,3660
804,NaN,False,1,1,1,1523060786,19,0,0,0,0,3661
805,NaN,False,1,1,1,1523063034,1,0,20,0,0,3662
806,NaN,False,1,1,1,1523065233,7,1,17,0,0,3663
807,NaN,False,1,1,1,1523065040,2,1,27,0,0,3664
808,NaN,False,0,0,0,0,0,0,0,0,0,3666
809,NaN,False,1,1,1,1523065295,9,0,17,0,0,3668
810,NaN,False,1,1,1,1523056942,19,0,0,0,0,3669
811,NaN,False,1,1,1,1523063873,16,1,20,0,0,3671
812,NaN,False,1,1,1,1523062182,0,0,27,0,0,3674

In [10]:
file = open('/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065429.json','r')
body = file.read()
data = ast.literal_eval(body)
stations = pd.DataFrame(data['data']['stations'])

In [11]:
import glob
path ="/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/*/*.json"
all_json = glob.glob(path)

In [4]:
all_json

['/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523063448.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523064704.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523064777.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523064831.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523064894.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523064957.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065020.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065072.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065135.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065198.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065250.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065314.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065377.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065429.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065492.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065555.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065618.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065671.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065723.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065796.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065849.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065912.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523065975.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066028.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066090.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066153.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066216.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066279.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066332.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066394.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066457.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066510.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066563.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066636.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066699.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066752.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066815.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066878.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066941.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523066994.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523067057.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523067120.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523067172.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523067235.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523067298.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523067350.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523067403.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523067466.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523067529.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523067592.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523067644.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523067707.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523067770.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523067833.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523067896.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523067959.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068001.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068065.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068138.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068190.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068253.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068316.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068379.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068431.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068494.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068557.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068620.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068672.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068725.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068798.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068850.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068913.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523068976.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069029.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069092.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069154.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069218.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069270.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069323.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069386.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069449.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069512.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069564.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069637.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069701.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069753.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069816.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069879.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069932.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523069994.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523070047.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523070120.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523070173.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523070225.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523070288.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523070351.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523070414.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523070467.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523070530.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523070593.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523070645.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523070708.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523070771.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523070834.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523070887.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523070960.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071013.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071076.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071139.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071202.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071254.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071317.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071370.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071423.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071496.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071549.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071612.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071664.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071727.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071790.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071843.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071906.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523071980.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072022.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072095.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072148.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072211.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072274.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072326.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072389.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072452.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072505.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072568.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072631.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072694.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072757.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072809.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072872.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072935.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523072998.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523073051.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523073114.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523073177.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523073240.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523073282.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523073345.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523073408.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523073471.json',
 '/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_logs/2018-04-06/station_status_1523073534.json']

In [9]:
import pandas as pd

In [ ]:
bikeDF = pd.DataFrame()
list_ = []
for json in all_json:
    df = pd.read_csv(csv,index_col=None, header=0)
    list_.append(df)
bikeDF = pd.concat(list_)

In [15]:
stationDF = pd.DataFrame()
_list = []
for json in all_json:
    file = open(json,'r')
    body = file.read()
    data = ast.literal_eval(body)
    stations = pd.DataFrame(data['data']['stations'])
    _list.append(stations)
    file.close()

NameError: name 'list_' is not defined

In [16]:
stationDF = pd.concat(_list)

In [19]:
stationDF[['last_reported','num_bikes_available', 'station_id']].sort(['station_id'])

     last_reported  num_bikes_available station_id
0       1523061840                   15         72
1       1523062264                   18         79
2       1523060972                   21         82
3       1523062354                   17         83
4       1523060329                    9        119
5       1523062039                   15        120
6       1523062952                   31        127
7       1523063311                    7        128
8       1523062029                   13        143
9       1523062908                   12        144
10      1523062309                   26        146
11      1523063217                   30        150
12      1523063336                    3        151
13      1523062678                    0        152
14      1523061211                   22        157
15      1523062338                   28        161
16      1523063307                    0        164
17      1523063172                    1        167
18      1523062189                    2        168
19      1523063319                    1        173
20      1523062854                    3        174
21      1523063204                    1        195
22      1523063080                    0        212
23      1523057428                   14        216
24      1523062338                   21        217
25      1523062517                    0        228
26      1523062935                   10        229
27      1523059595                    3        232
28      1523063255                   33        236
29      1523063429                   22        237
..             ...                  ...        ...
783              0                    0       3630
784     1523064709                   27       3631
785     1523073381                   24       3632
786     1523073296                   11       3635
787     1523071885                    9       3637
788     1523070698                    0       3638
789     1523071826                    1       3639
790     1523062626                    0       3640
791     1523073497                   29       3641
792     1523072757                    1       3643
793     1523054986                   24       3644
794     1523060489                    2       3646
795     1523071561                    2       3647
796     1523072422                    5       3648
797     1523064259                    4       3649
798     1523066693                    6       3653
799     1523064935                    1       3654
800     1523073173                   26       3656
801     1523072938                    1       3658
802     1523072327                    3       3659
803     1523072669                    7       3660
804     1523072447                   18       3661
805     1523063034                    1       3662
806     1523070097                    6       3663
807     1523070045                    2       3664
808              0                    0       3666
809     1523073113                   11       3668
810     1523056942                   19       3669
811     1523073184                   12       3671
812     1523073456                    1       3674

[121137 rows x 3 columns]

In [38]:
outputPath = "/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/event_csv/2018-04-06.csv"
stationDF.to_csv(outputPath, sep=",",index=False)

In [55]:
outputPath = "/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/station_prep_min.csv"
minDF = stationDF[stationDF['station_id'].isin(_numlist)]
minDF = minDF[['last_reported','num_bikes_available', 'station_id']]
minDF.to_csv(outputPath, sep=",",index=False)

In [39]:
_numlist = []
for num in range(264,276):
    _numlist.append(str(num))

In [42]:
import numpy as np

In [54]:
agg = stationDF.groupby('station_id').agg({'num_bikes_available': np.max}).reset_index()
_numlist = agg[agg['num_bikes_available'] > 30]['station_id'].tolist()

In [36]:
_numlist

['72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '100',
 '101',
 '102',
 '103',
 '104',
 '105',
 '106',
 '107',
 '108',
 '109',
 '110',
 '111',
 '112',
 '113',
 '114',
 '115',
 '116',
 '117',
 '118',
 '119',
 '120',
 '121',
 '122',
 '123',
 '124',
 '125',
 '126',
 '127',
 '128',
 '129',
 '130',
 '131',
 '132',
 '133',
 '134',
 '135',
 '136',
 '137',
 '138',
 '139',
 '140',
 '141',
 '142',
 '143',
 '144',
 '145',
 '146',
 '147',
 '148',
 '149',
 '150',
 '151',
 '152',
 '153',
 '154',
 '155',
 '156',
 '157',
 '158',
 '159',
 '160',
 '161',
 '162',
 '163',
 '164',
 '165',
 '166',
 '167',
 '168',
 '169',
 '170',
 '171',
 '172',
 '173',
 '174',
 '175',
 '176',
 '177',
 '178',
 '179',
 '180',
 '181',
 '182',
 '183',
 '184',
 '185',
 '186',
 '187',
 '188',
 '189',
 '190',
 '191',
 '192',
 '193',
 '194',
 '195',
 '196',
 '197',
 '198',
 '199',
 '200',
 '201',
 '202',
 '203',
 '204',
 '205',
 '206',
 '207',
 '208',
 '209',
 '210',
 '211',
 '212',
 '213',
 '214',
 '215',
 '216',
 '217',
 '218',
 '219',
 '220',
 '221',
 '222',
 '223',
 '224',
 '225',
 '226',
 '227',
 '228',
 '229',
 '230',
 '231',
 '232',
 '233',
 '234',
 '235',
 '236',
 '237',
 '238',
 '239',
 '240',
 '241',
 '242',
 '243',
 '244',
 '245',
 '246',
 '247',
 '248',
 '249',
 '250',
 '251',
 '252',
 '253',
 '254',
 '255',
 '256',
 '257',
 '258',
 '259',
 '260',
 '261',
 '262',
 '263',
 '264',
 '265',
 '266',
 '267',
 '268',
 '269',
 '270',
 '271',
 '272',
 '273',
 '274',
 '275',
 '276',
 '277',
 '278',
 '279',
 '280',
 '281',
 '282',
 '283',
 '284',
 '285',
 '286',
 '287',
 '288',
 '289',
 '290',
 '291',
 '292',
 '293',
 '294',
 '295',
 '296',
 '297',
 '298',
 '299']